<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div style="padding: 20px; background-color: #fff; color: #241f21">
      <div class="row align-items-center">
        <div class="col-auto"><img src="/typo3conf/ext/base/Resources/Public/svg/arrow_carousel_prev.svg" width="40" /></div>
        <div class="col">
          <div style="width: 100%; aspect-ratio: 2/1; background-color: #ccc"></div>
        </div>
        <div class="col-auto"><img src="/typo3conf/ext/base/Resources/Public/svg/arrow_carousel_next.svg" width="40" /></div>
      </div>
    </div>
  </body>
</html>
